/* ---------------------------------------------------------------------

            || General Styling || 

--------------------------------------------------------------------  */
*{
    font-family: 'Mukta', sans-serif;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Mukta', sans-serif;
    background-color: #e5e0ff;
}

/* ---------------------------------------------------------------------
            || Main body starts  || 
     addnewpage.html and upcomingtravels.html
--------------------------------------------------------------------  */

.flex-container {
    position: relative;
    top: 6rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
}

.card {
    width: 100%;
}

.card h1 {
    margin-left: 4%;
    font-size: 350%;
    margin-top: 5vh;
    color: #4b68dbff;
}

.card img {
    width: 65vw;
    float: right;
}

.card li {
    list-style: none;
}

.card li>button {
    padding: 2%;
}

.card select,
.card input {
    padding: 10px;
    font-size: 1em;
}

.card button {
    background-color: #3498db;
    color: #ffffff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.card button:hover {
    background-color: #2980b9;
}


.travel-type-heading {
    clear: both;
    margin-top: 2%;
    margin-left: 4%;
    font-size: 300%;
    color: #4b68dbff;
}

.travel-container {
    clear: left;
    height: auto;
    width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    gap: 10%;
}

.travel-card {
    background-color: #a696f9ff;
    width: 40%;
    height: auto;
    min-width: 500px;
    border: solid;
    border-width: 0px;
    margin: 1%;
    border-radius: 15px;
}

.travel-card-content {
    padding: 2%;
    display: flex;
    height: 100;
}

.travel-card-content-left {
    display: flex;
    width: 70%;
    justify-content: flex-start;
    flex-direction: column;
}

.travel-card-content-right {
    float: right;
    display: flex;
    width: 30%;
    justify-content: flex-end;
    align-items: flex-end;
}

.travel-card-content-right img {
    width: 20%;
    height: 30%;
    cursor: pointer;
}
 
.add-new-journey a {
    cursor: pointer;
}
 
.add-new-journey h1 {
    margin-left: 2vw;
}
 
 
 
.arrival-departure-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25%;
    min-height: 50vh;
}
 
.arrival-departure {
    color: #ffffff;
    padding: 10px 20px;
    box-shadow: 5px 5px 25px #a696f9ff;
    border-radius: 25%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
 
.image-container {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
}
 
.image-container>img {
    height: 15rem;
    width: 15rem;
    cursor: pointer;
}
 
.image-container>p {
    height: 100%;
    width: 100%;
    font-size: 2rem;
    color: #4b68dbff;
    text-align: center;
}
 
 
.form-div {
    position: relative;
    display: flex;
    flex-direction: column;
}
 
.from-to-heading {
    margin: 0;
    padding: 0;
}
 
.form-div>form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.2em;
    color: #4b68dbff;
    padding: 2.5vh;
    gap: 15px;
}

.form-div select {
    width:20rem;
}
.form-div input[type="date"],
.form-div input[type="time"],
.form-div select{
    appearance: none;
    height: 2.3rem;
    margin-left: 1rem;
    font-size: 1.2rem;
    border-radius: 10px;
    border: 0px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    flex-grow: 1;
    padding: 0 1rem;
    background-color: #fff;
    cursor: pointer;
} 
 
.form-div select:focus {
    border-color: rgba(76, 105, 220, 0.8);
    outline: none;
}
 
.form-div select:hover {
    border-color: rgba(76, 105, 220, 0.8);
}
 
.form-div select option {
    font-size: 1.2rem;
    padding: 0.5rem;
}
 
.form-div select option:hover {
    background-color: #c5c2d1;
}
 
.filler {
    margin-top: -20vh;
    z-index: -10;
    height: 25vh;
    width: 100%;
    background-color: transparent;
    float: right;
}

/* ---------------------------------------------------------
        
        || footer starts || 

-------------------------------------------------------   */

.base-container>div {
    position: relative;
    padding: 50px;
    font-size: 18px;
    background-color: transparent;
    flex-wrap: wrap;
    color: #333;
    justify-content: space-between;
    align-items: flex-end;
    justify-content: center;
    align-items: center;
}

.logo_footer {
    display: flex;
    height: 20vh;
    width: 40%;
    margin-top: 1%;
    background-color: transparent;
}

.logo_footer>img {
    display: flex;
    width: 40%;
    background-color: transparent;
    margin-top: -15%;
    margin-left: -35%;
    float: left;
}

.footer_links {
    display: flex;
    width: 60%;
    background-color: transparent;
}

.osdg {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    display: flex;
    width: 20%;
    float: right;
}

.osdg_top {
    height: 70%;
    width: 100%;
    background-color: transparent;

}
.osdg_down {
    height: 30%;
    width: 100%;
    background-color: transparent;

}

.osdg_down>img {
    margin-right: 5vw;
    width: 100px;
    margin-top: -37%;
    float: right;
}

.osdg_down>span {
    margin-top: -7%;
    margin-left: 10%;
    float: left;
}
.no_plan_msg {
    color: #333;
    font-size: 1.5rem;
    align-self: center;
    align-content: center;
    text-align: justify;
}

.text-xs {
    font-size: .75rem;
    line-height: 1rem;
}

.h-auto {
    height: auto;
}

element.style {
    color: #d37ffa;
}

.w-24 {
    width: 7rem;
}

.mb-6 {
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}

img,
video {
    max-width: 100%;
    height: auto;
}

img {
    display: block;
    /* vertical-align: middle; */
}

.pb-4 {
    padding-bottom: 1rem;
}

.text-center {
    text-align: center;
}

.flex-col {
    flex-direction: column;
}


.footer-orientation {
    flex-direction: row;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.h-auto {
    height: auto;
}

.flex {
    display: flex;
}

.opacity-60 {
    opacity: .6;
}

.w-8 {
    width: 2rem;
}

.h-8 {
    height: 2rem;
}

.mx-2 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

a {
    color: black;
    text-decoration: none;
}

::after {
    text-decoration: none;
    color: black;
}


/* Media Queries */
@media screen and (max-width: 768px) {

    .card h1 {
        font-size: 250%;
        margin-top: 10vh;
    }

    .card img {
        width: 100%;
        min-height: 30px;
        float: right;
    }

    .main-nav li {
        margin-right: 10px;
        font-size: 1rem;
    }

    .dropdown .dropbtn {
        font-size: 14px;
    }

    .card h1 {
        font-size: 3em;
    }

    .travel-type-heading {
        font-size: 2em;
    }

    .travel-card {
        width: 80%;
        min-width: auto;
    }

    .arrival-departure-container {
        display: flex;
        flex-direction: column;
        margin-top: 5vh;
    }

    .image-container>img {
        height: 15rem;
        width: 15rem;
    }

    .base-container {
        flex-direction: column;
        overflow-x: hidden;
        width: 100%;
        background-color: #a696f9ff;
    }

    .logo_footer {
        height: 30vh;
        width: 100%;
    }

    .logo_footer>img {
        float: left;
        align-items: center;
        width: 50vw;
        height: 20vh;
    }

    .osdg {
        display: flex;
        flex-direction: column;
        height: 10vh;
        width: 100%;
        float: right;
        justify-content: space-evenly;
    }

    .osdg_down>img {
        margin-right: 48%;
        width: 25%;
        margin-top: -5%;
        float: right;
    }

    .osdg_down>span {
        margin-top: 10%;
        margin-right: 25%;
        float: right;
    }

    .footer_links {
        width: 100%;
        background-color: #2980b9;
        align-items: right;
    }

    .footer_links>a {
        width: 100%;
        background-color: #2980b9;
        float: left;
    }

    .bg-slate-700 {
        --tw-bg-opacity: 1;
        background-color: rgba(166, 150, 249,0.6);

    }
    .travel-card-content-right img {
        width: 30%;
        height: 3rem;
        cursor: pointer;
    }
    .footer-orientation {
        flex-direction: column;
    }

    .form-div>form {
        align-items: flex-start;
    }
    .form-div select {
        width: 14.7rem;
    }
    .form-div input[type="date"] {
        width: 8.5rem;
    }
    .form-div input[type="time"] {
        width: 8.5rem;
    }
}

@media screen and (max-width: 500px) {
    .flex-container {
        margin-top: 2.5vh;
    }

    .card h1 {
        font-size: 220%;
        margin-top: 10vh;
    }

    .card img {
        width: 100%;
        min-height: 30px;
        float: right;
    }

    .main-nav {
        display: none;
    }

    .dropdown {
        margin-right: 10px;
    }

    .main-header {
        justify-content: space-between;
    }

    .logo {
        margin-left: 10px;
    }

    .main-header .unselectable {
        margin: 5px 10px;
    }

    .flex-container {
        top: 4rem;
    }

    .travel-container,
    .booking-container {
        flex-direction: column;
        align-items: center;
    }

    .travel-card,
    .booking-card {
        width: 90%;
        min-width: auto;
    }

    .arrival-departure-container {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .arrival-departure {
        min-height: 30px;
    }

    .travel-card-content-right img {
        width: 23%;
        height: 3rem;
        cursor: pointer;
    }
}

@media (min-width: 768px) {
    .md\:px-32 {
        padding-left: 8rem;
        padding-right: 8rem;
    }

    .md\:flex-row {
        flex-direction: row;
    }

    .text-white {
        --tw-text-opacity: 1;
        color: black;
    }

    .py-12 {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .bg-slate-700 {
        --tw-bg-opacity: 1;
        background-color:rgb(150, 131, 245,0.6);

    }

    .justify-between {
        justify-content: space-between;
    }

    .items-center {
        align-items: center;
    }

    .flex-col {
        flex-direction: column;
    }

    .flex {
        display: flex;
    }
}

@media screen and (max-width: 420px) {
    .form-div label {
        margin-left: 0px;
    }
    .form-div input[type="date"],
    .form-div input[type="time"],
    .form-div select {
        margin:5px;
        margin-left: 0px;

    }
}