body {
    margin: 0;
    padding: 0;
    font-family: 'Mukta', sans-serif;
    background-color: #7752FE;
}

.head-container{
    display: flex;
    justify-content: center;
}

.main-header {
    position: fixed;
    z-index: 100;
    background-color:#E5E0FF;
    width: 100%;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    padding: 0.3rem;
    font-size: 1.5rem;
}

.logo>img {
    height: 4.1rem;
}

.unselectable {
    user-select: none;
    margin: 5px 20px;
}

.main-nav ul {
    list-style: none;
    display: flex;
}

.main-nav li {
    margin-right: 20px;
}

.main-nav a {
    text-decoration: none;
    color: black;
}

.user-info {
    display: flex;
    align-items: center;
}

.email {
    margin-right: 1%;
}

.flex-container{
    position: relative;
    top: 5rem;
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.card{
    min-height: 500px;
    width: 100%;
    background-color:#DCBFFF;
}

.card li{
    list-style: none;
}

.card li>button{
    padding: 2%;
}

.card h1{
    padding-left: 5%;
}

.base-container{
    display: flex;
    justify-content: center;
}

.base-container>footer{
    position: relative;
    top: 5rem;
    background-color: #D0A2F7;
    width: 100%;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Bookings-container{
    padding: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 25%;
}

.Bookings-container li{
    list-style: none;
}

button {
    background-color: #3498db;
    color: #ffffff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 2%;
}

button:hover {
    background-color: #2980b9;
}

.arrival-departure-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25%;
    height: 100vh;
}

.arrival-departure{
    background-color: #3498db;
    color: #ffffff;
    padding: 10px 20px;
    font-size: 42px;
    width: 15rem;
    height: 15rem;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.Copied3s ease;
    margin: 2%;
}