body {
    margin: 0;
    padding: 0;
    font-family: 'Mukta', sans-serif;
    background-color: #E5E0FF;
}

.head-container{
    display: flex;
    justify-content: center;
}

.main-header {
    position: fixed;
    z-index: 100;
    background-color:#E5E0FF;
    width: 100%;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    padding: 0.3rem;
    font-size: 1.5rem;
}

.logo>img {
    height: 4.1rem;
}

.unselectable {
    user-select: none;
    margin: 5px 20px;
}

.main-nav ul {
    list-style: none;
    display: flex;
}

.main-nav li {
    margin-right: 20px;
}

.main-nav .nav-item {
    font-weight: bold;
}

.main-nav a {
    text-decoration: none;
    color: #4b68dbff;
    transition: color 0.3s;
}
.main-nav a:hover {
    color: rgb(137, 114, 254);
}

.user-info {
    display: flex;
    align-items: center;
}

.profile-logout{
    display: flex;
    justify-content: space-around;
    gap:15%;
    font-weight: bold;
    margin-right: 2%;
}

.user-info{
    color: rgb(118, 95, 235) ;
}

.logout {
    text-decoration: none;
    color: #4b68dbff;
    transition: color 0.3s;
    cursor: pointer;
}

.logout:hover {
    color: rgb(137, 114, 254);
}

.flex-container{
    position: relative;
    top: 6rem;
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.card{
    min-height: fit-content;
    width: 100%;
}

.upcoming-travels img{
    width: 70%;
    float: right;
}

.card li{
    list-style: none;
}

.card li>button{
    padding: 2%;
}

.card h1{
    margin-left: 2%;
    font-size: 4em;
    color:#4b68dbff;
}

.travel-type-heading{
    clear: both;
    margin-top: 2%;
    margin-left: 4%;
    font-size: 3em;
    color:#4b68dbff;
}

.travel-container{
    clear: left;
    height: auto;
    width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    gap: 10%;
}

.travel-card {
    background-color: #a696f9ff;
    width: 40%;
    height: auto;
    min-width: 500px;
    border: solid;
    border-width: 0px;
    margin: 1%;
    border-radius: 15px;
}

.travel-card-content {
    padding: 2%;
    display: flex;
    height: 100;
}

.travel-card-content-left {
    display: flex;
    width: 70%;
    justify-content: flex-start;
    flex-direction: column;
}

.travel-card-content-right {
    float: right;
    display: flex;
    width: 30%;
    justify-content: flex-end;
    align-items: flex-end;
}

.travel-card-content-right img {
    width: 20%;
    height: 30%;
    cursor: pointer;
}


.add-new-journey img{
    width: 70%;
    float: left;
}

.add-new-journey{
    margin-top: 5%;
}

.add-new-journey a{
    cursor: pointer;
}


/* button {
    background-color: #3498db;
    color: #ffffff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 2%;
}

button:hover {
    background-color: #2980b9;
} */

.arrival-departure-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25%;
    height: 60vh;
}

.arrival-departure{
    color: #ffffff;
    padding: 10px 20px;
    font-size: 42px;
    width: 15rem;
    height: 15rem;
    box-shadow: 5px 5px 25px #a696f9ff;
    border-radius: 25%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.image-container{
    position: relative;
    text-align: center;
}

.image-container>div {
    width: 100%;
    color:#4b68dbff;
    font-size: 2rem;
    padding: 10px;
}

.from-to-heading{
    padding: 0;
    margin: 0;
}

.card .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.card form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
}

.card label {
    font-size: 1.2em;
    color: #4b68dbff;
}

.card select,
.card input {
    padding: 10px;
    font-size: 1em;
}

.card button {
    background-color: #3498db;
    color: #ffffff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.card button:hover {
    background-color: #2980b9;
}

.booking-container{
    clear: left;
    height: auto;
    width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    gap: 2%;
}

.booking-card {
    background-color: #a696f9ff;
    width: 60%;
    height: auto;
    min-width: 500px;
    border: solid;
    border-width: 0px;
    margin: 1%;
    border-radius: 15px;
}

.booking-card-content {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.booking-card-content-left {
    padding: 2%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
}

.booking-card-content-right {
    float: right;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.base-container{
    display: flex;
    justify-content: center;
}

.base-container>footer{
    position: relative;
    padding: 70px;
    font-size: 18px;
    top: 6rem;
    background-color: #D0A2F7;
    width: 100%;
    color: black;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    gap: 30px;
    align-items: flex-end;
    justify-content: center;
    align-items: center;
}


.footer_links{
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
}

