<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="{{ subpath }}/static/style.css" />
    <link rel="stylesheet" href="{{ subpath }}/static/bookingspage.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />

    <link rel="icon" href="{{ subpath }}/static/icon.svg" type="image/x-icon" />

    <title>CabMiloge</title>
  </head>

  <body>
    <div class="head-container">
      <header class="main-header">
        <div class="logo unselectable">
          <img src="{{ subpath }}/static/logo.svg" alt="logo" />
        </div>
        <nav class="main-nav">
          <ul>
            <li class="nav-item">
              <a href="{{ subpath }}/upcomingTravels">Upcoming Travels</a>
            </li>
            <li class="nav-item">
              <a href="{{ subpath }}/index">Add New trip</a>
            </li>
          </ul>
        </nav>
        <div class="dropdown">
          <button class="dropbtn user-info" id="openSidebar">
            &nbsp;<i class="fa-solid fa-bars icon-bars"></i>
          </button>
          <div id="sidebar" class="sidebar">
            <a href="javascript:void(0)" class="closebtn" id="closeSidebar"
              >&times;</a
            >
            <h2>{{ fname }}&nbsp;{{ lname }}</h2>
            <hr />

            <a href="{{ subpath }}/upcomingTravels" class="sidebar-options">Upcoming Trips</a>
            <a href="{{ subpath }}/index" class="sidebar-options">Add Trip</a>
            <a href="#" onclick="redirect_to_booking()" class="sidebar-options">View All Trips</a>
            <a href="{{ subpath }}/editprofilepage" class="sidebar-options">Edit Profile</a>
            <a href="{{ subpath }}/about" class="sidebar-options">About</a>
            <a href="#" class="sidebar-options" onclick="logout_user()"
              >Logout</a
            >
        </div>
        <div id="overlay" class="overlay"></div>
        </div>
      </header>
    </div>

    <!-- NOW THE DROPDOWN STARTS -->
    <div class="filter-div flex pos-r" >
        <!--THIS IS BATCH DROPDOWN-->
        <div class="container_dropdown pos-r">
          <div class="select-btn_batch cursor-p box_shadow-black align-c z_1  bg-c1 flex" id="batch">
            <span class="btn-text_batch  c-333 z_1 ">Select batch</span>
            <span class="arrow-dwn align-c z_1 flex">
              <i class="fa-solid fa-chevron-down"></i>
            </span>
          </div>

          <ul class="list-items box_shadow-black bg-c1">
            <li class="item_batch cursor-p align-c z_1 item_dropdown flex">
              <span class="checkbox align-c flex z_1">
                <i class="fa-solid fa-check  check-icon z_1"></i>
              </span>
              <span class="item-text_batch c-333 z_1 ">UG1</span>
            </li>
            <li class="item_batch cursor-p align-c z_1 item_dropdown flex">
              <span class="checkbox align-c flex z_1">
                <i class="fa-solid fa-check  check-icon z_1"></i>
              </span>
              <span class="item-text_batch c-333 z_1 ">UG2</span>
            </li>
            <li class="item_batch cursor-p align-c z_1 item_dropdown flex">
              <span class="checkbox align-c flex z_1">
                <i class="fa-solid fa-check  check-icon z_1"></i>
              </span>
              <span class="item-text_batch c-333 z_1 ">UG3</span>
            </li>
            <li class="item_batch cursor-p align-c z_1 item_dropdown flex">
              <span class="checkbox align-c flex z_1">
                <i class="fa-solid fa-check  check-icon z_1"></i>
              </span>
              <span class="item-text_batch c-333 z_1 ">UG4</span>
            </li>
            <li class="item_batch cursor-p align-c z_1 item_dropdown flex">
              <span class="checkbox align-c flex z_1">
                <i class="fa-solid fa-check  check-icon z_1"></i>
              </span>
              <span class="item-text_batch c-333 z_1 ">UG5</span>
            </li>
            <li class="item_batch cursor-p align-c z_1 item_dropdown flex">
              <span class="checkbox align-c flex z_1">
                <i class="fa-solid fa-check  check-icon z_1"></i>
              </span>
              <span class="item-text_batch c-333 z_1 ">PG1</span>
            </li>
            <li class="item_batch cursor-p align-c z_1 item_dropdown flex">
              <span class="checkbox align-c flex z_1">
                <i class="fa-solid fa-check  check-icon z_1"></i>
              </span>
              <span class="item-text_batch c-333 z_1 ">PG2</span>
            </li>
            <li class="item_batch cursor-p align-c z_1 item_dropdown flex">
              <span class="checkbox align-c flex z_1">
                <i class="fa-solid fa-check  check-icon z_1"></i>
              </span>
              <span class="item-text_batch c-333 z_1 ">PHD</span>
            </li>
          </ul>
        </div>

        <!--THIS IS DESTINATION DROPDOWN-->
        <div class="container_dropdown pos-r">
          <div class="select-btn_destination cursor-p box_shadow-black align-c z_1 bg-c1" id="destination">
            <span class="btn-text_destination c-333 z_1 ">Select Destination</span>
            <span class="arrow-dwn align-c z_1 flex">
              <i class="fa-solid fa-chevron-down"></i>
            </span>
          </div>

          <ul class="list-items box_shadow-black bg-c1">
            <li class="item_destination cursor-p align-c z_1 item_dropdown flex ">
              <span class="checkbox align-c flex z_1">
                <i class="fa-solid fa-check  check-icon z_1"></i>
              </span>
              <span class="item-text_destination c-333 z_1 ">IIIT Campus</span>
            </li>
            <li class="item_destination cursor-p align-c z_1 item_dropdown flex">
              <span class="checkbox align-c flex z_1">
                <i class="fa-solid fa-check  check-icon z_1"></i>
              </span>
              <span class="item-text_destination c-333 z_1 "
                >Rajiv Gandhi International Airport</span
              >
            </li>
            <li class="item_destination cursor-p align-c z_1 item_dropdown flex">
              <span class="checkbox align-c flex z_1">
                <i class="fa-solid fa-check  check-icon z_1"></i>
              </span>
              <span class="item-text_destination c-333 z_1 ">Secunderabad Junction</span>
            </li>
            <li class="item_destination cursor-p align-c z_1 item_dropdown flex">
              <span class="checkbox align-c flex z_1">
                <i class="fa-solid fa-check  check-icon z_1"></i>
              </span>
              <span class="item-text_destination c-333 z_1 ">Kacheguda Railway Station</span>
            </li>
          </ul>
        </div>

        <!--THIS IS STARTING POINT DROPDOWN-->
        <div class="container_dropdown pos-r">
          <div class="select-btn_start cursor-p box_shadow-black align-c z_1  bg-c1" id="start">
            <span class="btn-text_start c-333 z_1 ">Select Starting Point</span>
            <span class="arrow-dwn align-c z_1 flex">
              <i class="fa-solid fa-chevron-down"></i>
            </span>
          </div>

          <ul class="list-items box_shadow-black bg-c1">
            <li class="item_start cursor-p align-c z_1 item_dropdown flex">
              <span class="checkbox align-c flex z_1">
                <i class="fa-solid fa-check  check-icon z_1"></i>
              </span>
              <span class="item-text_start c-333 z_1 ">IIIT Campus</span>
            </li>
            <li class="item_start cursor-p align-c z_1 item_dropdown flex">
              <span class="checkbox align-c flex z_1">
                <i class="fa-solid fa-check  check-icon z_1"></i>
              </span>
              <span class="item-text_start c-333 z_1 "
                >Rajiv Gandhi International Airport</span
              >
            </li>
            <li class="item_start cursor-p align-c z_1 item_dropdown flex">
              <span class="checkbox align-c flex z_1">
                <i class="fa-solid fa-check  check-icon z_1"></i>
              </span>
              <span class="item-text_start c-333 z_1 ">Secunderabad Junction</span>
            </li>
            <li class="item_start cursor-p align-c z_1 item_dropdown flex">
              <span class="checkbox align-c flex z_1">
                <i class="fa-solid fa-check  check-icon z_1"></i>
              </span>
              <span class="item-text_start c-333 z_1 ">Kacheguda Railway Station</span>
            </li>
          </ul>
        </div>

        <!--THIS IS TIME DROPDOWN-->
        <div class="container_dropdown pos-r">
          <div class="select-btn_time cursor-p box_shadow-black align-c z_1 bg-c1" id="time">
            <span class="btn-text_time  c-333 z_1 ">Select Time</span>
            <span class="arrow-dwn align-c z_1 flex">
              <i class="fa-solid fa-chevron-down"></i>
            </span>
          </div>

          <ul class="list-items box_shadow-black bg-c1">
            <li class="item_time cursor-p align-c z_1 item_dropdown flex">
              <span class="checkbox align-c flex z_1">
                <i class="fa-solid fa-check  check-icon z_1"></i>
              </span>
              <span class="item-text_time c-333 z_1 ">0-1</span>
            </li>
            <li class="item_time cursor-p align-c z_1 item_dropdown flex">
              <span class="checkbox align-c flex z_1">
                <i class="fa-solid fa-check  check-icon z_1"></i>
              </span>
              <span class="item-text_time c-333 z_1 ">1-2</span>
            </li>
            <li class="item_time cursor-p align-c z_1 item_dropdown flex">
              <span class="checkbox align-c flex z_1">
                <i class="fa-solid fa-check  check-icon z_1"></i>
              </span>
              <span class="item-text_time c-333 z_1 ">2-3</span>
            </li>
            <li class="item_time cursor-p align-c z_1 item_dropdown flex">
              <span class="checkbox align-c flex z_1">
                <i class="fa-solid fa-check  check-icon z_1"></i>
              </span>
              <span class="item-text_time c-333 z_1 ">3-4</span>
            </li>
            <li class="item_time cursor-p align-c z_1 item_dropdown flex">
              <span class="checkbox align-c flex z_1">
                <i class="fa-solid fa-check  check-icon z_1"></i>
              </span>
              <span class="item-text_time c-333 z_1 ">4-5</span>
            </li>
            <li class="item_time cursor-p align-c z_1 item_dropdown flex">
              <span class="checkbox align-c flex z_1">
                <i class="fa-solid fa-check  check-icon z_1"></i>
              </span>
              <span class="item-text_time c-333 z_1 ">5-6</span>
            </li>
            <li class="item_time cursor-p align-c z_1 item_dropdown flex">
              <span class="checkbox align-c flex z_1">
                <i class="fa-solid fa-check  check-icon z_1"></i>
              </span>
              <span class="item-text_time c-333 z_1 ">6-7</span>
            </li>
            <li class="item_time cursor-p align-c z_1 item_dropdown flex">
              <span class="checkbox align-c flex z_1">
                <i class="fa-solid fa-check  check-icon z_1"></i>
              </span>
              <span class="item-text_time c-333 z_1 ">7-8</span>
            </li>
            <li class="item_time cursor-p align-c z_1 item_dropdown flex">
              <span class="checkbox align-c flex z_1">
                <i class="fa-solid fa-check  check-icon z_1"></i>
              </span>
              <span class="item-text_time c-333 z_1 ">8-9</span>
            </li>
            <li class="item_time cursor-p align-c z_1 item_dropdown flex">
              <span class="checkbox align-c flex z_1">
                <i class="fa-solid fa-check  check-icon z_1"></i>
              </span>
              <span class="item-text_time c-333 z_1 ">9-10</span>
            </li>
            <li class="item_time cursor-p align-c z_1 item_dropdown flex">
              <span class="checkbox align-c flex z_1">
                <i class="fa-solid fa-check  check-icon z_1"></i>
              </span>
              <span class="item-text_time c-333 z_1 ">10-11</span>
            </li>
            <li class="item_time cursor-p align-c z_1 item_dropdown flex">
              <span class="checkbox align-c flex z_1">
                <i class="fa-solid fa-check  check-icon z_1"></i>
              </span>
              <span class="item-text_time c-333 z_1 ">11-12</span>
            </li>
            <li class="item_time cursor-p align-c z_1 item_dropdown flex">
              <span class="checkbox align-c flex z_1">
                <i class="fa-solid fa-check  check-icon z_1"></i>
              </span>
              <span class="item-text_time c-333 z_1 ">12-13</span>
            </li>
            <li class="item_time cursor-p align-c z_1 item_dropdown flex">
              <span class="checkbox align-c flex z_1">
                <i class="fa-solid fa-check  check-icon z_1"></i>
              </span>
              <span class="item-text_time c-333 z_1 ">13-14</span>
            </li>
            <li class="item_time cursor-p align-c z_1 item_dropdown flex">
              <span class="checkbox align-c flex z_1">
                <i class="fa-solid fa-check  check-icon z_1"></i>
              </span>
              <span class="item-text_time c-333 z_1 ">14-15</span>
            </li>
            <li class="item_time cursor-p align-c z_1 item_dropdown flex">
              <span class="checkbox align-c flex z_1">
                <i class="fa-solid fa-check  check-icon z_1"></i>
              </span>
              <span class="item-text_time c-333 z_1 ">15-16</span>
            </li>
            <li class="item_time cursor-p align-c z_1 item_dropdown flex">
              <span class="checkbox align-c flex z_1">
                <i class="fa-solid fa-check  check-icon z_1"></i>
              </span>
              <span class="item-text_time c-333 z_1 ">16-17</span>
            </li>
            <li class="item_time cursor-p align-c z_1 item_dropdown flex">
              <span class="checkbox align-c flex z_1">
                <i class="fa-solid fa-check  check-icon z_1"></i>
              </span>
              <span class="item-text_time c-333 z_1 ">17-18</span>
            </li>
            <li class="item_time cursor-p align-c z_1 item_dropdown flex">
              <span class="checkbox align-c flex z_1">
                <i class="fa-solid fa-check  check-icon z_1"></i>
              </span>
              <span class="item-text_time c-333 z_1 ">18-19</span>
            </li>
            <li class="item_time cursor-p align-c z_1 item_dropdown flex">
              <span class="checkbox align-c flex z_1">
                <i class="fa-solid fa-check  check-icon z_1"></i>
              </span>
              <span class="item-text_time c-333 z_1 ">19-20</span>
            </li>
            <li class="item_time cursor-p align-c z_1 item_dropdown flex">
              <span class="checkbox align-c flex z_1">
                <i class="fa-solid fa-check  check-icon z_1"></i>
              </span>
              <span class="item-text_time c-333 z_1 ">20-21</span>
            </li>
            <li class="item_time cursor-p align-c z_1 item_dropdown flex">
              <span class="checkbox align-c flex z_1">
                <i class="fa-solid fa-check  check-icon z_1"></i>
              </span>
              <span class="item-text_time c-333 z_1 ">21-22</span>
            </li>
            <li class="item_time cursor-p align-c z_1 item_dropdown flex">
              <span class="checkbox align-c flex z_1">
                <i class="fa-solid fa-check  check-icon z_1"></i>
              </span>
              <span class="item-text_time c-333 z_1 ">22-23</span>
            </li>
            <li class="item_time cursor-p align-c z_1 item_dropdown flex">
              <span class="checkbox align-c flex z_1">
                <i class="fa-solid fa-check  check-icon z_1"></i>
              </span>
              <span class="item-text_time c-333 z_1 ">23-0</span>
            </li>
          </ul>
        </div>

        <div class="container_dropdown pos-r">
          <input type="date" class="date_filter flex align-c z_1 bg-c1 box_shadow-black" id="selectedDate"></input>
        </div> 
        <!-- CODE OF DROPDOWN ENDS HERE -->

        <button type="submit" onclick="" class="submit_button cursor-p c-333 z_1 bg-c1 pos-r box_shadow-black">
          Apply Filters
        </button>
        <button type="submit" onclick="clear_filter()" class="clear_button cursor-p c-333 z_1 bg-c1 poz-r box_shadow-black">
          Clear Filters
        </button>

    </div>

    <div class="booking-container flex align-c">
      {% for entry in available_options %}
      <div class="booking-card flex align-c">
          <div class="booking-card-content-left">
            <h3>Name: {{entry[3]}}</h3>
            <p>Batch: {{entry[5]}}</p>
            <p>Gender: {{entry[4]}}</p>
            <p>Email: {{entry[8]}}</p>
            <p>Phone: {{entry[9]}}</p>
          </div>
          <div class="booking-card-content-right">
            <h3>From: {{entry[7]}}</h3>
            <h3>To: {{entry[6]}}</h3>
            <p>Time: {{entry[1]}}</p>
            <p>Date: {{entry[0]}}</p>
            <button
              class="mail_btn cursor-p"
              onclick="sendEmail('{{ entry[8] }}', '{{ entry[6] }}', '{{ entry[1] }}', '{{entry[0]}}', '{{entry[3]}}','{{ fname }}')"
            >
              Send Email
            </button>
          </div>
      </div>
      {% endfor %}
    </div>
    
    <script type="text/javascript">
        var subpath = "{{ subpath }}";
    </script>
    <script src="{{ subpath }}/static/bookings.js"></script>
    <script src="{{ subpath }}/static/script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>

      document.getElementById("openSidebar").onclick = function () {
        document.getElementById("sidebar").style.width = "23rem";
        document.getElementById("overlay").style.display = "block";
      }
      
      document.getElementById("closeSidebar").onclick = function () {
        document.getElementById("sidebar").style.width = "0";
        document.getElementById("overlay").style.display = "none";
      }
      
      // Close sidebar when clicking outside of it
      document.getElementById("overlay").onclick = function () {
        document.getElementById("sidebar").style.width = "0";
        document.getElementById("overlay").style.display = "none";
      }

    </script>
  </body>
</html>
