<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400&display=swap" rel="stylesheet">
    <script src="./../static/script.js" defer></script>
    <title>CabMiloge</title>
</head>
<body>
    <div class="head-container">
        <header class="main-header">
            <div class="logo unselectable"><img src="./../static/logo.svg" alt="logo"></div>
            <nav class="main-nav">
                <ul>
                    <li><a href="#">Upcoming Travels</a></li>
                    <li><a href="#">Add New</a></li>
                </ul>
            </nav>
            <div class="user-info email">{{ user_list[0][2]}}</div>
        </header>
    </div>

    <div class="flex-container">
        <div class="card">
            <ul>
                <li><button onclick="createNewBookingDiv()">Book New</button></li>
            </ul>
            <h1>Previous Bookings</h1>
            <div class="Bookings-container">
            </div>
        </div>
    </div>

    <div class="base-container">
        <footer>
            <span>&copy; copyright</span>
        </footer>
    </div>
</body>
</html>