<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400&display=swap" rel="stylesheet">
    <link rel="icon" href="./../static/icon.svg" type="image/x-icon" />
    <script src="./../static/script.js" defer></script>
    <title>CabMiloge</title>
</head>
<body>
    <div class="head-container">
        <header class="main-header">
            <div class="logo unselectable"><img src="./../static/logo.svg" alt="logo"></div>
            <nav class="main-nav">
                <ul>
                    <li><a href="#upcomingTravels">Upcoming Travels</a></li>
                    <li><a href="#AddNewTravel">Add New</a></li>
                </ul>
            </nav>
            <div class="user-info email">{{ user }}</div>
        </header>
    </div>

    <div class="flex-container">
        <div class="card upcoming-travels">
            <img id="upcomingTravels" src="./../static/upcoming-travels.svg" alt="upcoming-travels">
            <h1>Upcoming <br> Travels  </h1>
            <div class="travel-container">
                {% for entry in entries %}
                <div class="travel-card">{{ entry }}</div>
                {% endfor %}
            </div>
        </div>
        <div class="card add-new-journey">
            <img id="AddNewTravel" src="./../static/add-new-journey.svg" alt="add-new">
            <a onclick="createNewBookingDiv()"><h1>Add New <br> Journey</h1></a>
        </div>
    </div>

    <div class="base-container">
        <footer>
            <span>&copy; copyright</span>
        </footer>
    </div>
</body>
</html>